<% if (username){%>
    <%- include('loggedinhead.ejs') %>
<% } else { %>
    <%- include('head.ejs') %>
<% } %>
<style>
    .item2 {
        grid-area: menu;
        height: 800px;
        background-size: cover;
        background-color: transparent;
    }
    .item3 {
        grid-area: main;
        height: auto;
        min-height: 100%;
        height: 115%;
    }
    .item4 {
        grid-area: right;
        height: 580px;
    }
    p{
        padding-left: 2%;
    }

    .grid-container {
        background-image: url("https://images.hdqwalls.com/wallpapers/vaporwave-zl.jpg") !important;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6,minmax(0,1fr));
        grid-template-rows: 15% 70% 15%;
        grid-template-areas:
            'menu main main main main right'
            'menu main main main main right';
        background-color: white;
        padding: 10px;
    }

    .grid-container > div {
        background-color: rgb(242, 242, 242);
        text-align: left;
        font-size: 30px;
        border-color: #FF10F0;
        border-style: solid;
    }

    .post {
        border-color: #000;
        border-style: solid;
        margin: 2%;

    }
    .comment{
        border-color: #000;
        border-style: solid;
        margin: 2%;
    }
    .block {
        display: block;
        width: 96%;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        padding: 100%;
        margin: 2%;
    }
    .blockTrending {
        display: block;
        height: 125px;
        width: 125px;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: auto;
    }
    .blockRight {
        display: block;
        width: 96%;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: 2%;
        padding: 30px;
    }
    .block:hover {
        background-color: #ddd;
        color: black;
    }
    .blockRight:hover {
        background-color: #ddd;
        color: black;
    }
    .blockTrending:hover{
        background-color: #ddd;
        color: black;
    }
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trending{
        display: block;
        margin: auto;
    }
    .trending > p{
        font-size: 20px;
        margin-bottom: 0;
    }
    .favorites{
        display: block;
        margin: auto;
    }
    .favorites > p{
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .main{
        display: block;
        margin: auto;

        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }
    .main > p{
        margin-bottom: -20px;
    }
    .adBlock{
        overflow:hidden;
        display: block;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        width: 75.5%;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;

    }
    .img-size{
        width: 100%;
        height: 100%;
        background: url("https://m.media-amazon.com/images/M/MV5BNmNhM2NjMTgtNmIyZC00ZmVjLTk4YWItZmZjNGY2NThiNDhkXkEyXkFqcGdeQXVyODU4MDU1NjU@._V1_.jpg");
        background-size:cover;
        background-position: center center;
    }

    .post-image{
        margin-left:3.5%;
        max-width: 100%;
    }

    .content{
        overflow:auto;
        font-size: 16px;
    }
    .textBoxSize{
        width: 95%;
        font-size: 16px;
        height: 10%;
    }
    .low{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comment{

    }
    .content{
        padding:1%;
        padding-top: 1%;
    }
    .postcontent{
        padding: 1%;
        font-size: 16px;
    }
    .usertest{

    }

    .postcontents{
        font-size: 20px;
        text-indent: 4%;
    }


    .content1{
        border-style: solid;
        border-color: transparent;
    }

    .content2{
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
    }

    .content3{
        border-style: solid;
        border-color: transparent;
        border-top-color: black;
    }

    .likePost{
        display: inline;
    }



</style>

<script>
    var num = 0;

    window.onload( function() {
        elementDelete();
    });

    function elementDelete(){
        console.log("deletes your element");
        document.getElementById('content1').remove();
        if( document.getElementById('bin').innerHTML == 1){
            document.getElementById('postmsg').remove();
            document.getElementById('postbutton').remove();
            document.getElementById('bin').remove();

        }else{
            document.getElementById('likePost').remove();
            document.getElementById('dislikePost').remove();

        }
    }


    function formCall(message, cont){
        postMessage(message, cont);
        var param = document.getElementById("Form");
        var button = document.createElement('input');
        //make sure it can't be seen/disrupts layout (even momentarily)
        button.style.display = 'none';
        //make it such that it will invoke submit if clicked
        button.type = 'submit';
        //append it and click it
        param.appendChild(button).click();
        //if it was prevented, make sure we don't get a build up of buttons
        param.removeChild(button);
        document.location.reload();
    }

    function like(param){
        console.log(param)
        var likes = parseInt(document.getElementById(param).innerHTML);
        likes += 1;
        document.getElementById(param).innerHTML = likes;
    }

    function postMessage(message , param){
        var UN = document.createElement("p");
        UN.append(test,": ");//username in UN

        var msg = document.createElement("p");
        msg.append("    ",message);//message from box
        msg.classList.add("text")

        var div = document.createElement("div");
        var outerDiv = document.createElement("div");
        var likeb = document.createElement('BUTTON');
        var liket = document.createTextNode("like");


        likeb.appendChild(liket);


        div.appendChild(UN);

        div.classList.add("msgCont")

        div.style.textDecoration = "underline";
        msg.style.textIndent = "1%";

        likeb.className+= "button button2";

        var a1 = document.createElement("a");
        a1.append("likes: ");
        var a2 = document.createElement("a");
        a2.innerHTML = "0";
        if(param == "cont") {
            a2.id = num;
            num += 1;
        }else{
            a2.id = "postid";
        }

        console.log(a2.id);
        outerDiv.append(div);
        outerDiv.append(msg);
        outerDiv.appendChild(likeb);
        outerDiv.append(a1);
        outerDiv.append(a2);

        likeb.addEventListener("click", function() { like(a2.id)});

        outerDiv.style.border = "solid black"

        if(a2.id != 0){
            outerDiv.style.borderTopStyle = "none";
        }

        outerDiv.classList.add("msgText");

        var cont = document.getElementById(param);

        if(param == "postCont"){
            document.getElementById('postmsg').remove();
            document.getElementById('postbutton').remove();
            outerDiv.style.border = "none";
        }

        cont.appendChild(outerDiv);

        event.preventDefault();
        if(param == "postCont") {
            document.getElementById("Form").reset();
        }else{
            document.getElementById("myForm").reset();
        }
        //tag.scrollIntoView();
        //window.setTimeout( function () { top(); }, 2000 );
    }

</script>
<body onload="elementDelete();">
<div class="grid-container">
    <!-- Ad box it just contains a button for the ad to be in -->
    <div class="item2">
        <div class="img-size">
            <button class="adBlock" onclick="window.location.href = 'https://playvalorant.com/en-us/?gclid=CjwKCAjw6dmSBhBkEiwA_W-EoAgh1lHdzMCyQY7omW-rRzAwNPWDytHjm-OElMhJnrFta_ZJuq1BthoCICwQAvD_BwE&gclsrc=aw.ds'"></button>
        </div>
    </div>
    <div class="item3">
        <!--Holds post title, user that posted, and upvotes and downvotes-->
        <div class="main">
            <div class="post">
                <h1><%= post[0]['title'] %></h1><!-- get the post's title for the top -->
                <div class="postcontent" id="postCont">
                    <h2 class="usertest"><%=post[0]['user']%></h2> <!-- get the user that posted it -->
                    <div class="postcontents"><%= post[0]['postcontent'] %></div> <!--get the post's content -->
                    <p id="bin"><%=post[0]['filled']%></p> <!-- get filled so the ejs page can figure out whether or not to keep the text box and button-->
                </div>
                <form id="Form" class="centered" method="post" action="http://localhost:3000/createpost-<%=post[0]['id']%>" name="form"><!-- form to call for making a post-->

                    <input type="text" id="postmsg" name="postmsg" class="textBoxSize">
                    <input id="postbutton" type="submit" class="button button2" value="reply">
                    <script>
                        var test = '<%=username%>';
                    </script>
                </form>
                <form id="likePost" class="likePost" method="post" action="http://localhost:3000/like-<%=post[0]['id']%>"> <!-- form to call the like endpoint-->
                    <input id="likePost" type="submit" class="button button2" value="Upvote">

                </form>

                <form id="dislikePost" class="likePost" method="post" action="http://localhost:3000/dislike-<%=post[0]['id']%>"><!-- form to call the dislike endpoint-->
                    <input id="dislikePost" type="submit" class="button button2" value="Downvote">
                    <a id="dislikePost"> Upvotes: <%=post[0]['likes']%> Downvotes: <%=post[0]['dislikes']%> </a>
                </form>

            </div>
            <p>Comments</p>
            <div class="comment">
                <!-- basically the same as the posts thing but now it is just for submitting comments no likes-->
                <p>
                <div id="cont" class="content">
                    <div id="content1" class="content1">
                        <h3><a><%= Comments[0]['user']%></a></h3><!-- get username of poster both of these will be null since there needs to be an empty comment for the page to load-->
                        <p><%= Comments[0]['commentcontent']%></p><!-- get the post content-->

                    </div>
                    <% for (i = 1; i < Comments.length; i++){ %><!-- loop that posts the comments and sets borders -->
                    <%if(i == 1){%>
                        <div class="content3"> <%=Comments[0]['user']%></div>
                    <%}%>
                        <div class="content2">
                            <h3><a><%= Comments[i]['user']%></a></h3>
                            <p><%= Comments[i]['commentcontent']%></p>
                        </div>
                    <% } %>

                </div>
                </p>
                <form id="myForm" class="centered" method="post" action="http://localhost:3000/comment-<%=post[0]['id']%>"><!-- form to get comment info for endpoints -->
                    <input type="text" id="msg" name="msg" class="textBoxSize">
                    <input type="submit" class="button button2" value="reply">
                    <script>
                        var test = '<%=username%>';
                    </script>
                </form>
            </div>
        </div>

    </div>
    <!-- sidebar for trending or followed -->
    <div class="item4">
        <% if (username){%>
            <% if (followedForums[0]['forumCount'] > 0){%>
                <label>Favorites</label>
                <div class="favorites">
                    <% if (followedForums[0]['forum1']){%>
                    <p><%=followedForums[0]['forum1']%></p>
                    <button class="blockRight" onclick="window.location.href = 'http://localhost:3000/subforum-<%=followedForums[0]['forum1']%>'"><%=followedForums[0]['forum1']%></button>
                    <% } %>
                </div>
                <div class="favorites">
                    <% if (followedForums[0]['forum2']){%>
                    <p><%=followedForums[0]['forum2']%></p>
                    <button class="blockRight" onclick="window.location.href = 'http://localhost:3000/subforum-<%=followedForums[0]['forum2']%>'"><%=followedForums[0]['forum2']%></button>
                    <% } %>
                </div>
                <div class="favorites">
                    <% if (followedForums[0]['forum3']){%>
                    <p><%=followedForums[0]['forum3']%></p>
                    <button class="blockRight" onclick="window.location.href = 'http://localhost:3000/subforum-<%=followedForums[0]['forum3']%>'"><%=followedForums[0]['forum3']%></button>
                    <% } %>
                </div>
                <div class="favorites">
                    <% if (followedForums[0]['forum4']){%>
                    <p><%=followedForums[0]['forum4']%></p>
                    <button class="blockRight" onclick="window.location.href = 'http://localhost:3000/subforum-<%=followedForums[0]['forum4']%>'"><%=followedForums[0]['forum4']%></button>
                    <% } %>
                </div>
            <% } else { %>
                <p>No followed Forums</p>
            <% } %>
        <%}else{%>
            <p>Login to view followed forums</p>
        <%}%>
    </div>
</div>
</body>
