<% if (username){%>
    <%- include('loggedinhead.ejs') %>
<% } %>

<!--General style-->
<style>
    body{
        margin-top:0px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }
    #UN{

    }
    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: lightgray;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }

    .bg-gray-300 {
        background-color: lightgray;
    }
    .h-100 {
        height: 100%!important;

    }
    .shadow-none {
        box-shadow: none!important;
    }
    .color{
        background-color: lightgray;
    }
    .button {
        background-color: rgb(54, 54, 54);
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,255,255,0.5),0 17px 50px 0 rgba(0,255,255,0.19);
    }
    #users{

    }
    #favForums{

    }
    .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
    }
    .formPopup {
        display: none;
        position: fixed;

        left: 50%;
        top: 5%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        z-index: 9;
    }
    .formContainer {
        max-width: 500px;
        padding: 20px;
        background-color: #ddd;
        margin-bottom: 0;
    }
    .formContainer input[type=text],
    .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
    }
    .formContainer input[type=text]:focus,
    .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #FF10F0;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
    }
    .formContainer .cancel {
        background-color: #0c6baf;
    }
    .formContainer .btn:hover,
    .openButton:hover {
        opacity: 1;
    }
    .info{

    }
    .profButton{
        background: #d3d3d3;
        border-radius : 50%;
        border: none;
    }
    .profImage{
        width: 150px;
        height: 150px;
    }

    #githubButton{

    }
    #githubButtonCont{

    }
    #twitterButton{

    }
    #twitterButtonCont{

    }
    #instaButton{

    }
    #instaButtonCont{

    }
    #FBButton{

    }
    #FBButtonCont{

    }
</style>

<!--style for social media popups-->
<style>
    .editPopup{
        display: none;
        position: fixed;

        left: 50%;
        top: 5%;
        transform: translate(-50%, 5%);
        border: 3px solid #999999;
        z-index: 9;
    }
    .editContainer {
        max-width: 500px;
        padding: 20px;
        background-color: #ddd;
        margin-bottom: 0;
    }
    .editContainer input[type=text],
    .editContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
    }
    .editContainer input[type=text]:focus,
    .editContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    .editContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #FF10F0;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
    }
    .editContainer .cancel {
        background-color: #0c6baf;
    }
    .editContainer .btn:hover,
    .openButton:hover {
        opacity: 1;
    }

</style>

<!--style for changing profile picture-->
<style>
    .profile-pic {
        color: transparent;
        transition: all .3s ease;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-pic > input{
        display: none;
    }
    .-label{
        cursor: pointer;
        height: 150px;
        width: 150px;
    }
    .profile-pic > img {
        position: absolute;
        object-fit: cover;
        width: 140px;
        height: 140px;
        box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
        border-radius: 100px;
        z-index: 0;
    }
    .-label:hover{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: white;
        transition: background-color .2s ease-in-out;
        border-radius: 100px;
        margin-bottom: 0;
    }
    span {
        display: inline-flex;
    }

</style>


<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    function editButton(buttonID, newText, link, divID){
        console.log(divID)
        if(divID === "githubButtonCont"){
            document.getElementById("popupEditGH").style.display = "block";
        }else if(divID === "twitterButtonCont"){
            document.getElementById("popupEditTwitter").style.display = "block";
        }else if(divID === "instaButtonCont"){
            document.getElementById("popupEditInsta").style.display = "block";
        }else if(divID === "FBButtonCont"){
            document.getElementById("popupEditFB").style.display = "block";
        }
    }

    function closeEdit(close) {
        document.getElementById(close).style.display = "none";
    }
    function updateEdit(divID){
        var newAccount, testP, buttonDiv, text, button, mySpan, myA;

        if(divID === "popupEditGH"){
            buttonDiv = document.getElementById('githubButtonCont');
            button = document.getElementById('githubButton');
            newAccount = document.getElementById("GHEdit").value;
            if(newAccount.length > 0){
                mySpan = document.createElement("span");
                myA = document.createElement("a");
                myA.href = 'https://github.com/';
                myA.text = '@' + newAccount;
                console.log(myA);
                mySpan.appendChild(myA);
                buttonDiv.appendChild(mySpan);
                button.remove();
                closeEdit(divID);
            }
        }else if(divID === "popupEditTwitter"){
            console.log(divID)
            buttonDiv = document.getElementById('twitterButtonCont');
            button = document.getElementById('twitterButton');
            newAccount = document.getElementById("TwitterEdit").value;
            if(newAccount.length > 0){
                mySpan = document.createElement("span");
                myA = document.createElement("a");
                myA.href = 'https://twitter.com/?lang=en';
                myA.text = '@' + newAccount;
                console.log(myA);
                mySpan.appendChild(myA);
                buttonDiv.appendChild(mySpan);
                button.remove();
                closeEdit(divID);
            }
        }else if(divID === "popupEditInsta"){
            buttonDiv = document.getElementById('instaButtonCont');
            button = document.getElementById('instaButton');
            newAccount = document.getElementById("InstaEdit").value;
            if(newAccount.length > 0){
                mySpan = document.createElement("span");
                myA = document.createElement("a");
                myA.href = 'https://www.instagram.com/';
                myA.text = '@' + newAccount;
                console.log(myA);
                mySpan.appendChild(myA);
                buttonDiv.appendChild(mySpan);
                button.remove();
                closeEdit(divID);
            }
        }else if(divID === "popupEditFB"){
            buttonDiv = document.getElementById('FBButtonCont');
            button = document.getElementById('FBButton');
            newAccount = document.getElementById("FBEdit").value;
            if(newAccount.length > 0){
                mySpan = document.createElement("span");
                myA = document.createElement("a");
                myA.href = 'https://www.facebook.com/';
                myA.text = '@' + newAccount;
                console.log(myA);
                mySpan.appendChild(myA);
                buttonDiv.appendChild(mySpan);
                button.remove();
                closeEdit(divID);
            }
        }

    }
</script>

<!--Script for uploading profile picture-->
<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<body onload = fillFavForums() ></body>
<body onload = ></body>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="profile-pic">
                                <label class="-label" for="file">
                                    <span>Change Image</span>
                                </label>
                                <input id="file" type="file" onchange="loadFile(event)"/>
                                <img src="./images/Default.png" class="rounded-circle profImage" id="output" width="100">
                            </div>
                            <!--
                            <button class="profButton"><img src="./images/Default.png" class="rounded-circle profImage" width="150" id="output"></button>
                            -->

                            <div class="mt-3">
                                <h4 id="UN"><%= username %></h4>
                                <p class="text-secondary mb-1">This user has not added a bio yet</p>
                                <button class="button button2">Follow</button>
                                <button class="button button2" onclick="window.location.href = 'http://localhost:3000/DM'">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="color list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                            <% if (data[0]['github']){%>
                                <span class="text-secondary"><a href="https://github.com/" target="popup" >
                                        <%= data[0]['github'] %>
                                        </a></span>
                            <% }else{%>
                                <div id="githubButtonCont">
                                    <button id="githubButton" class="button button2" onclick="editButton('githubButton','testText','https://github.com/', 'githubButtonCont')">Link an account</button>
                                </div>
                            <%}%>
                        </li>
                        <li class="color list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                            <% if (data[0]['twitter']){%>
                                <span class="text-secondary"><a href="https://twitter.com/?lang=en" target="popup" >
                                        <%= data[0]['twitter'] %>
                                        </a></span>
                            <% }else{%>
                                <div id="twitterButtonCont">
                                    <button id="twitterButton" class="button button2" onclick="editButton('twitterButton','testText','https://twitter.com/?lang=en', 'twitterButtonCont')">Link an account</button>
                                </div>
                            <%}%>
                        </li>
                        <li class="color list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <% if (data[0]['insta']){%>
                                <span class="text-secondary"><a href="https://www.instagram.com/" target="popup" >
                                        <%= data[0]['insta'] %>
                                        </a></span>
                            <% }else{%>
                                <div id="instaButtonCont">
                                    <button id="instaButton" class="button button2" onclick="editButton('instaButton','testText','https://www.instagram.com/', 'instaButtonCont')">Link an account</button>
                                </div>
                            <%}%>
                        </li>
                        <li class="color list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <% if (data[0]['facebook']){%>
                                    <span class="text-secondary"><a href="https://www.facebook.com/" target="popup" >
                                        <%= data[0]['facebook'] %>
                                        </a></span>
                                <% }else{%>
                                          <div id="FBButtonCont">
                                              <button id="FBButton" class="button button2" onclick="editButton('FBButton','testText','https://www.facebook.com/', 'FBButtonCont')">Link an account</button>
                                          </div>
                                <%}%>
                            <div class="loginPopup">
                                <div class="editPopup" id="popupEditGH">
                                    <form class="editContainer">
                                        <h2>Add your GitHub</h2>
                                        <label for="GHEdit">
                                            <strong>Edit</strong>
                                        </label>
                                        <input type="text" id="GHEdit" placeholder="" name="GHEdit" required>

                                        <button type="button" class="btn" onclick="updateEdit('popupEditGH')">Confirm Changes</button>
                                        <button type="button" class="btn cancel" onclick="closeEdit('popupEditGH')">Close</button>
                                    </form>
                                </div>
                                <div class="editPopup" id="popupEditTwitter">
                                    <form class="editContainer">
                                        <h2>Add your Twitter</h2>
                                        <label for="TwitterEdit">
                                            <strong>Edit</strong>
                                        </label>
                                        <input type="text" id="TwitterEdit" placeholder="" name="TwitterEdit" required>

                                        <button type="button" class="btn" onclick="updateEdit('popupEditTwitter')">Confirm Changes</button>
                                        <button type="button" class="btn cancel" onclick="closeEdit('popupEditTwitter')">Close</button>
                                    </form>
                                </div>
                                <div class="editPopup" id="popupEditInsta">
                                    <form class="editContainer">
                                        <h2>Add your Instagram</h2>
                                        <label for="InstaEdit">
                                            <strong>Edit</strong>
                                        </label>
                                        <input type="text" id="InstaEdit" placeholder="" name="InstaEdit" required>

                                        <button type="button" class="btn" onclick="updateEdit('popupEditInsta')">Confirm Changes</button>
                                        <button type="button" class="btn cancel" onclick="closeEdit('popupEditInsta')">Close</button>
                                    </form>
                                </div>
                                <div class="editPopup" id="popupEditFB">
                                    <form class="editContainer">
                                        <h2>Add your Facebook</h2>
                                        <label for="FBEdit">
                                            <strong>Edit</strong>
                                        </label>
                                        <input type="text" id="FBEdit" placeholder="" name="FBEdit" required>

                                        <button type="button" class="btn" onclick="updateEdit('popupEditFB')">Confirm Changes</button>
                                        <button type="button" class="btn cancel" onclick="closeEdit('popupEditFB')">Close</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary info">
                                <% for(var i=0; i<data.length; i++) {%>
                                    <%= data[i]['user'] %>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary info">
                                <% if (data[0]['email']){%>
                                    <%= data[0]['email'] %>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary info">
                                <% if (data[0]['phone']){%>
                                    <%= data[0]['phone'] %>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary info">
                                <% if (data[0]['phone']){%>
                                    <%= data[0]['phone'] %>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary info">
                                <% if (data[0]['address']){%>
                                    <%= data[0]['address'] %>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <button class = "button button2" onclick="openForm()"><strong>Edit Profile</strong></button>
                        <div class="loginPopup">
                            <div class="formPopup" id="popupForm">
                                <form class="formContainer">
                                    <h2>Edit Profile</h2>
                                    <label for="name">
                                        <strong>Name</strong>
                                    </label>
                                    <input type="text" id="name" placeholder="Your name" name="name" required>

                                    <label for="phone">
                                        <strong>Phone</strong>
                                    </label>
                                    <input type="text" id="phone" placeholder="Your phone" name="phone" required>

                                    <label for="cell">
                                        <strong>Cell Phone</strong>
                                    </label>
                                    <input type="text" id="cell" placeholder="Your cell" name="cell" required>

                                    <label for="address">
                                        <strong>Address</strong>
                                    </label>
                                    <input type="text" id="address" placeholder="Your address" name="address" required>

                                    <button type="button" class="btn" onclick="update()">Confirm Changes</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                </form>
                            </div>
                        </div>
                        <script>
                            function update(){
                                var info = document.getElementsByClassName("info");
                                var form = document.getElementsByClassName("formPopup");

                                var newName = document.getElementById("name").value;
                                if(newName.length > 0){
                                    info[0].innerHTML = newName;
                                }

                                var newPhone = document.getElementById("phone").value;
                                if(newPhone.length > 0){
                                    info[2].innerHTML = newPhone;
                                }

                                var newCell = document.getElementById("cell").value;
                                if(newCell.length > 0){
                                    info[3].innerHTML = newCell;
                                }

                                var newAddr = document.getElementById("address").value;
                                if(newAddr.length > 0){
                                    info[4].innerHTML = newAddr;
                                }
                                closeForm();
                            }

                            function openForm() {
                                document.getElementById("popupForm").style.display = "block";
                            }
                            function closeForm() {
                                document.getElementById("popupForm").style.display = "none";
                            }
                        </script>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Favorite Forums</h6>
                                <small></small>
                                <div id="favForums">
                                    <!-- inserted buttons using js script -->
                                </div>

                                <script>
                                    var con;
                                    var tempUser = document.getElementById("UN");
                                    function fillFavForums(list) {
                                        list = ["Forum1", "Forum2", "Forum3", "Forum4"];
                                        for (const item in list) {
                                            var userButton = document.createElement("button");
                                            userButton.classList.add("button");
                                            userButton.classList.add("button2");
                                            var link = "http://localhost:3000/";
                                            userButton.onclick = function getUrl(url) {
                                                window.open(link, '_blank')
                                            }
                                            userButton.classList.add("userButtons");
                                            userButton.textContent = list[item];
                                            var div = document.createElement("div");
                                            div.classList.add("buttonDiv");
                                            div.appendChild(userButton);
                                            var outerDiv = document.getElementById("favForums");
                                            outerDiv.appendChild(div);
                                        }
                                        list = ["User1", "User2", "User3", "User4"];
                                        for (const item in list) {
                                            var userButton = document.createElement("button");
                                            userButton.classList.add("button");
                                            userButton.classList.add("button2");
                                            var link = "http://localhost:3000/";
                                            userButton.onclick = function getUrl(url){
                                                window.open(link,  '_blank')
                                            }
                                            userButton.classList.add("userButtons");
                                            userButton.textContent = list[item];
                                            var div = document.createElement("div");
                                            div.classList.add("buttonDiv");
                                            div.appendChild(userButton);
                                            var outerDiv = document.getElementById("users");
                                            outerDiv.appendChild(div);
                                        }

                                        tempUser = sessionStorage.getItem('tempUser');
                                        tempUser = JSON.parse(tempUser);
                                    }
                                </script>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Followed Users</h6>
                                <div id="users">
                                    <!-- inserted buttons using js script -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
